@*@model  ECS.Models.FormViewModel*@
@*分頁*@
@model   PagedList.IPagedList<ECS.Models.ECSViewModel>
@using PagedList.Mvc;

<br />
<h2>員工管理</h2>
<br />
<br />


<div id="dialog-creat" title="Creat"></div>
<div id="dialog-edit" title="Edit"></div>


<form method="post">
    <div class="dropdown">
        <label>員編卡號:</label>
        <input type="text" id="empsn" name="empsn" class="form-inline" style="width:10%" autofocus>
        <label>部門:</label>

        @if (Session["SessionRole"] != null)
        {
            string role = Session["SessionRole"].ToString();
            string empdept = Session["SessionEmpDept"].ToString();
            if (role == "Admin")
            {
                <select type="button" id="empdept" name="empdept" class="btn btn-default dropdown-toggle">
                    <option value=""></option>
                    <option value="數位資訊部">數位資訊部</option>
                    <option value="投資資訊部">投資資訊部</option>
                    <option value="壽險資訊部">壽險資訊部</option>
                    <option value="資訊系統部">資訊系統部</option>
                    <option value="資訊規劃部">資訊規劃部</option>
                </select>
            }
            if (role == "Manage")
            {
                <select type="button" id="empdept" name="empdept" class="btn btn-default dropdown-toggle">
                    <option value="@empdept" selected="selected">@empdept</option>
                </select>
            }
        }
        <input type="submit" id="btnSearch" value="查詢" class="btn btn-info">
        <label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>    @*&nbsp 空格符號*@
        <a href='@Url.Action("EmpCreat")' class="creatDialog btn btn-primary">新增員工</a>
    </div>
    <br />
    @if (ViewBag.Message == true)
    {
        <table class="table table-bordered table-hover">
            <tr class="success">
                <th>功能</th>
                <th>員工編號</th>
                <th>員工姓名</th>
                <th>員工部門</th>
                <th>員工信箱</th>
                <th>員工借用狀態</th>
                <th>員工卡號</th>
                <th>角色</th>
            </tr>
            @foreach (var item in Model)
                {
                <tr>
                    <td align="center">
                        @Html.ActionLink("修改", "EmpEdit", "Emp", new { empid = item.EmpID }, new { @class = "editDialog btn btn-warning" }) &nbsp
                        @*<a href='@Url.Action("EmpEdit")?empid=@item.EmpID' id="EmpEdit" class="btn btn-warning">修改</a>*@    @*按鈕動作*@
                        @Html.ActionLink("刪除", "EmpDelete", "Emp", new { empid = @item.EmpID }, new { @class = "delete btn btn-danger" })
                    </td>
                    <td>@item.EmpID</td>
                    <td>@item.EmpName</td>
                    <td>@item.EmpDept</td>
                    <td>@item.Email</td>
                    <td>@item.EmpState</td>
                    <td>@item.EmpSN</td>
                    <td>@item.Role</td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="alert alert-danger">No Data.</div>
    }
</form>

@*分頁*@
<div class="pager">
    @Html.PagedListPager(Model, page => Url.Action("EmpManage", new
{
    page = page,
    empsn = Session["Searchempsn"],
    empdept = Session["Searchempdept"]
}),
    new PagedListRenderOptions
    {
        //DisplayLinkToIndividualPages=false,
        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
        DisplayLinkToLastPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        //DisplayPageCountAndCurrentLocation = true,
        DisplayItemSliceAndTotal = true,
        //PageCountAndCurrentLocationFormat ="第{0}頁 / 共{1}頁",
        ItemSliceAndTotalFormat = "顯示項目： {0} ~ {1} / 共{2}項"
    })
</div>

@*Dialog*@
<script>
    $(document).ready(function () {


        $(".delete").on("click", function (e) {
            var link = $(this).attr("href"); // "get" the intended link in a var
            e.preventDefault();
            bootbox.confirm("確定要刪除?", function (result) {
                if (result) {
                    location.href = link; // if result, "set" the document location
                }
            });

        });

        $(".editDialog").on("click", function (e) {
            var url = $(this).attr('href');
            $("#dialog-edit").dialog({
                title: '員工資料修改',
                autoOpen: false,
                resizable: false,
                height: 520,
                width: 700,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);

                },
                close: function (event, ui) {
                    $(this).dialog('close');
                }
            });

            $("#dialog-edit").dialog('open');
            return false;
        });

        $(".creatDialog").on("click", function (e) {
            var url = $(this).attr('href');
            $("#dialog-creat").dialog({
                title: '新增員工',
                autoOpen: false,
                resizable: false,
                height: 520,
                width: 650,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);

                },
                close: function (event, ui) {
                    $(this).dialog('close');
                }
            });

            $("#dialog-creat").dialog('open');
            return false;
        });
    });
</script>