@model  List<ECS.Models.ECSViewModel>

@*表單驗證*@
<script src="~/Scripts/jquery.validate.js"></script>


@*<br />
<h2>預約確認</h2>
<br />*@
<br />

@foreach (var item in Model)
{
    <form class="form-horizontal" id="form" role="form">

        <div class="form-group">
            <label class="col-sm-2 control-label">員工編號</label>
            <div class="col-sm-10">
                <input type="text" id="EmpID" name="EmpID" class="form-control" value="@item.EmpID" disabled="disabled">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">員工姓名</label>
            <div class="col-sm-10">
                <input type="text" id="EmpName" name="EmpName" class="form-control" value="@item.EmpName" disabled="disabled">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">借出時間</label>
            <div class="col-sm-10">
                <input type="text" id="TimeLend" name="TimeLend" class="form-control" value="@item.TimeLendDataFormat">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">卡片編號</label>
            <div class="col-sm-10">
                <input type="text" id="CardID" name="CardID" class="form-control" autofocus required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">天數</label>
            <div class="col-sm-10">
                <input type="text" id="UseDay" name="UseDay" class="form-control" value="@item.UseDay">
            </div>
        </div>
        @*紀錄編號欄位，隱藏不顯示*@
        <input type="hidden" id="RecordNumber" name="RecordNumber" class="form-control" value="@item.RecordNumber">
        @*按鈕*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="btnSave" value="確認借用" class="btn btn-info" />
            </div>
        </div>
    </form>
}

@*表單驗證*@
<script>
    $('#form').validate();
</script>

@*AJAX*@
<script>
    $(function () {
        $("#TimeLend").mouseenter(function (e) {
            $("#TimeLend").datepicker({ dateFormat: 'yy/mm/dd' });
        });
        
        
        $('#btnSave').click(function () {
            //不允許NULL

            if ($('#form').valid()) {

            }

            else {
                bootbox.alert('借用失敗');
                return;
            }

            var empObj = {
                EmpID: $('#EmpID').val(),  //JSON物件
                EmpName: $('#EmpName').val(),
                TimeLend: $('#TimeLend').val(),
                CardID: $('#CardID').val(),
                UseDay: $('#UseDay').val(),
                RecordNumber: $('#RecordNumber').val()
            };
            $.ajax({
                type: 'POST',
                data: JSON.stringify(empObj),
                url: '@Url.Action("ReserveConfirm")',
                dataType: 'JSON',
                contentType: "application/json",
                success: function (r) {
                    if (r == "Case01") {
                        bootbox.alert('借用失敗，卡片不屬於此員工部門，');
                    }
                    else if (r == "Case02") {
                        bootbox.alert('借用失敗，卡片借用中');
                    }
                    else {
                        bootbox.alert('借用成功', function (result) {
                            window.location.href = "/Borrow/Return";
                        });
                    }
                },
                error: function (response) {
                    bootbox.alert(response.responseText);
                }
            });
        });
    });

</script>

